# Local workspace for testing environment for Atlas
workspace/
.venv
/node_modules/
/frontend/node_modules/

# Ignore Python bytecode files and cache
*.pyc
*.pyd

# Tauri and PyInstaller output
src-tauri/target/
src-tauri/gen/
src-tauri/binaries/*.exe
build/
dist/
*.spec
backend/data/memory.db
data/memory.db
data/conversations.db
