# Local workspace for testing environment for Atlas
workspace/
.venv

# Ignore Python bytecode files and cache
*.pyc
*.pyd

# Tauri and PyInstaller output
src-tauri/target/
src-tauri/binaries/*.exe
build/
dist/
